{% extends 'base.html' %}
{% load static %}

{% block title %}
Contacts
{% endblock title %}

{% block header %}
<header class="header-style-two inner-page-header">
    <div class="header-top-wrap">
        <div class="container custom-container">
            <div class="row">
                <div class="col-md-6 d-none d-md-block">
                    <div class="header-top-action">
                        <ul>
                            <li><i class="far fa-envelope"></i><a href="https://themebeyond.com/cdn-cgi/l/email-protection#355c5b535a75464045455a47411b565a58"><span class="__cf_email__" data-cfemail="a9c0c7cfc6e9dadcd9d9c6dbdd87cac6c4">[email&#160;protected]</span></a></li>
                            <li><i class="far fa-clock"></i> 08:00 H A 20:00 H</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="header-top-right">
                        <ul>
                            <li class="header-top-social">
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                                <a href="#"><i class="fab fa-twitter-square"></i></a>
                                <a href="#"><i class="fab fa-vimeo-square"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </li>
                            <li class="header-top-login">
                                <a href="login-register.html"><i class="far fa-user-circle"></i> Connexion</a>
                                <a href="login-register.html">Création de compte</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sticky-header" class="main-header menu-area">
        <div class="container custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                    <div class="menu-wrap">
                        <nav class="menu-nav show">
                            <div class="logo">
                                <a href="index.html" class="sticky-logo-none"><img class="logoz" src="{% static 'img/logo/logo.png' %}" alt="Logo"></a>
                                <a href="index.html" class="sticky-logo-active"><img class="logoz" src="{% static 'img/logo/logo.png' %}" alt="Logo"></a>
                            </div>
                            <div class="navbar-wrap main-menu d-none d-lg-flex">
                                <ul class="navigation">
                                    <li><a href="home">Accueil</a></li>
                                    <li><a href="occasion">véhicules d'occasions</a></li>
                                    <li><a href="neuf">véhicules neufs</a></li>
                                    <li><a href="location">Location de véhicules</a></li>
                                    <li><a href="contact">Contacts</a></li>
                                </ul>
                            </div>
                            <div class="header-action d-none d-md-block">
                                <ul>
                                    <li class="header-search"><a href="#" data-toggle="collapse" data-target="#collapse-search-body" aria-expanded="false" aria-controls="collapse-search-body"><i class="fas fa-search"></i></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- Mobile Menu  -->
                    <div class="mobile-menu">
                        <div class="menu-backdrop"></div>
                        <div class="close-btn"><i class="fas fa-times"></i></div>

                        <nav class="menu-box">
                            <div class="nav-logo"><a href="index.html"><img src="{% static 'img/logo/logo.png' %}" alt="" title=""></a>
                            </div>
                            <div class="menu-outer">
                                <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                            </div>
                            <div class="social-links">
                                <ul class="clearfix">
                                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                                    <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                    <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                    <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- End Mobile Menu -->
                </div>
            </div>
        </div>
        <div id="collapse-search-body" class="collapse-search-body collapse">
            <div class="search-body">
                <div class="container custom-container">
                    <form action="#">
                        <div class="form-item">
                            <input name="search" placeholder="Type here...">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}
<main>
            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" data-background="{%  static 'img/bg/breadcrumb_bg.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content text-center">
                                <h2>Contactez Nous</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="accueil">Accueil</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Contactez Nous</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- contact-area -->
            <section class="contact-area pt-120">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6">
                            <div class="contact-info-wrap">
                                <div class="section-title text-left mb-25">
                                    <span class="sub-title">contacts</span>
                                    <h2 class="title">Adresses</h2>
                                    <div class="line"><img src="{%  static 'img/images/title_line.png' %}" alt=""></div>
                                </div>
                                <p>Contactez-nous afin de bénéficier de notre service professionnel.</p>
                                <ul class="contact-info-list">
                                    <li>
                                        <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                                        <div class="content">
                                            <h5>Position géographique</h5>
                                            <p>Riviera 4, Abidjan, Côte d'Ivoire</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon"><i class="fas fa-phone-alt"></i></div>
                                        <div class="content">
                                            <h5>Téléphone</h5>
                                            <p><a href="">+225 01 53 878 770</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon"><i class="far fa-envelope"></i></div>
                                        <div class="content">
                                            <h5>Posez votre question</h5>
                                            <p><a href=""><span class="" data-cfemail="89e0e7efe6c9fafcf9f9e6fbfda7eae6e4">coulibalyzieisrael@gmail.com</span></a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6">
                            <div class="contact-form-wrap">
                                <div class="login-wrap">
                                    <h3 class="widget-title">Envoyez nous <span>votre message</span></h3>
                                    <form action="#" class="login-form">
                                        <div class="form-grp">
                                            <label for="name">Nom <span>*</span></label>
                                            <input type="text" id="name" placeholder="Nom">
                                        </div>
                                        <div class="form-grp">
                                            <label for="email">Email <span>*</span></label>
                                            <input type="email" id="email" placeholder="email">
                                        </div>
                                        <div class="form-grp">
                                            <label for="message">Message <span>*</span></label>
                                            <textarea name="message" id="message" placeholder="Message"></textarea>
                                        </div>
                                        <button class="btn">Envoyez</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- contact-area-end -->

            <!-- contact-map -->
            <div id="contact-map"></div>
            <!-- contact-map-end -->

            <!-- footer-brand-area -->
            
            <!-- footer-brand-area-end -->

        </main>
{% endblock content %}