{% extends 'base.html' %}
{% load static %}

{% block title %}
Contacts
{% endblock title %}


{% block content %}
<main>
            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" data-background="{%  static 'img/bg/breadcrumb_bg.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content text-center">
                                <h2>Contactez Nous</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/home">Accueil</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Contactez Nous</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- contact-area -->
            <section class="contact-area pt-120">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6">
                            <div class="contact-info-wrap">
                                <div class="section-title text-left mb-25">
                                    <span class="sub-title">contacts</span>
                                    <h2 class="title">Adresses</h2>
                                    <div class="line"><img src="{%  static 'img/images/title_line.png' %}" alt=""></div>
                                </div>
                                <p>Contactez-nous afin de bénéficier de notre service professionnel.</p>
                                <ul class="contact-info-list">
                                    <li>
                                        <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                                        <div class="content">
                                            <h5>Position géographique</h5>
                                            <p>Riviera 4, Abidjan, Côte d'Ivoire</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon"><i class="fas fa-phone-alt"></i></div>
                                        <div class="content">
                                            <h5>Téléphone</h5>
                                            <p><a href="">+225 01 53 878 770</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon"><i class="far fa-envelope"></i></div>
                                        <div class="content">
                                            <h5>Posez votre question</h5>
                                            <p><a href=""><span class="" data-cfemail="89e0e7efe6c9fafcf9f9e6fbfda7eae6e4">coulibalyzieisrael@gmail.com</span></a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6">
                            <div class="contact-form-wrap">
                                <div class="login-wrap">
                                    <h3 class="widget-title">Envoyez nous <span>votre message</span></h3>
                                    <form action="#" class="login-form">
                                        <div class="form-grp">
                                            <label for="name">Nom <span>*</span></label>
                                            <input type="text" id="name" placeholder="Nom">
                                        </div>
                                        <div class="form-grp">
                                            <label for="email">Email <span>*</span></label>
                                            <input type="email" id="email" placeholder="email">
                                        </div>
                                        <div class="form-grp">
                                            <label for="message">Message <span>*</span></label>
                                            <textarea name="message" id="message" placeholder="Message"></textarea>
                                        </div>
                                        <button class="btn">Envoyez</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- contact-area-end -->

            <!-- contact-map -->
            <div id="contact-map"></div>
            <!-- contact-map-end -->

            <!-- footer-brand-area -->
            
            <!-- footer-brand-area-end -->

        </main>
{% endblock content %}