{% extends 'base.html' %}
{% load static %}

{% block title %}
Accueil
{% endblock title %}



{% block content %}
<main>


<!-- banner-area -->
<section class="banner-area home-three-banner" data-background="{% static 'img/slider/banner_bg02.jpg' %}">
    <div class="container custom-container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9">
                <div class="slider-content text-center">
                    <div class="banner-icon mb-25 wow fadeInUp" data-wow-delay=".3s"><img src="{% static 'img/slider/slider_content_icon.png' %}" alt=""></div>
                    <div class="fact-area-title wow fadeInUp" data-wow-delay=".6s">Les vrais bolides <span class="left"></span><span class="right"></span></div>
                    <h2 class="wow fadeInUp" data-wow-delay=".9s">Trouvez la voiture parfaite</h2>
                    <p class="wow fadeInUp" data-wow-delay="1.2s">Achats, Ventes, Locations</p>
                    <a href="#" class="btn wow fadeInUp" data-wow-delay="1.5s">Recherchez</a>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-car-search-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" class="car-search-form">
                        <div class="row align-items-end justify-content-center">
                            <div class="col custom-col-6">
                                <select name="name" class="selected">
                                    <option value="">Choisir une marque</option>
                                    {% for marque in marque %}
                                    <option value="{{ marque }}">{{ marque }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col custom-col-6">
                                <select name="name" class="selected">
                                    <option value="">Choisir un modèle</option>
                                    {% for modele in modele %}
                                    <option value="{{ modele }}">{{ modele }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col custom-col-6 etat">
                                <select name="name" class="selected">
                                    <option value="">Choisir l'état</option>
                                    {% for etat in etat %}
                                    <option value="{{ etat }}">{{ etat }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col custom-col-6">
                                <button class="btn">Recherche</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-area-end -->







    <!-- latest-cars-area -->
    <section class="latest-cars-area pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6">
                    <div class="section-title text-center mb-35">
                        <h2 class="overlay-title">Lesvraibolide</h2>
                        <h2 class="title">Véhicule recents</h2>
                    </div>
                    
                </div>
            </div>
            <div class="latest-cars-wrapper">
                <div class="row latest-car-items-active">

                    {% for voiture in voiture %}
                    <div class="col-lg-4 col-md-6 grid-item grid-sizer cat-two">
                        <div class="latest-car-item mb-60">
                            <div class="latest-car-thumb mb-25">
                                <a href="inventory-details.html">
                                    <img class="photo" src="{{voiture.photo_face.url}}" alt="">
                                </a>
                            </div>
                            <div class="latest-car-content">
                                <div class="latest-car-content-top">
                                    <h5><a href="inventory-details.html">{{ voiture.marque }} {{ voiture.modele }}</a></h5>
                                    <span class="price">{{ voiture.prix }} </span>
                                </div>
                                <p>Annee : <span>{{ voiture.annee }}</span></p>
                                <div class="latest-car-meta">
                                    <ul>
                                        <li><i class="flaticon-settings"></i> {{ voiture.transmission }}</li>
                                        <li><i class="flaticon-gasoline-pump"></i> {{ voiture.carburant }}</li>
                                        <li><i class="flaticon-motorway"></i> {{ voiture.kilometrage }} km</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="latest-car-btn text-center mt-10">
                            <a href="lists" class="btn">VOIR +</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- latest-cars-area-end -->



</main>
{% endblock content %}


