{% extends 'base.html' %}
{% load static %}

{% block title %}
Accueil
{% endblock title %}


{% block header %}
<header class="header-style-two">
    <div class="header-top-wrap">
        <div class="container custom-container">
            <div class="row">
                <div class="col-md-6 d-none d-md-block">
                    <div class="header-top-action">
                        <ul>
                            <li><i class="far fa-envelope"></i><a href=""><span class="__cf_email__" data-cfemail="a9c0c7cfc6e9dadcd9d9c6dbdd87cac6c4">coulibalyzieisrael@gmail.com</span></a></li>
                            <li><i class="far fa-clock"></i> 08:00 H A 20:00 H</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="header-top-right">
                        <ul>
                            <li class="header-top-social">
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sticky-header" class="main-header menu-area">
        <div class="container custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                    <div class="menu-wrap">
                        <nav class="menu-nav show">
                            <div class="logo">
                                <a href="index.html" class="sticky-logo-none"><img class="logoz" src="{% static 'img/logo/logo.png' %}" alt="Logo"></a>
                                <a href="index.html" class="sticky-logo-active"><img class="logoz" src="{% static 'img/logo/logo.png' %}" alt="Logo"></a>
                            </div>
                            <div class="navbar-wrap main-menu d-none d-lg-flex">
                                <ul class="navigation">
                                    <li><a href="home">Accueil</a></li>
                                    <li><a href="occasion">véhicules d'occasions</a></li>
                                    <li><a href="neuf">véhicules neufs</a></li>
                                    <li ><a href="location">Location de véhicules</a></li>
                                    <li><a href="contact">Contacts</a></li>
                                </ul>
                            </div>
                            <div class="header-action d-none d-md-block">
                                <ul>
                                    <li class="header-search"><a href="#" data-toggle="collapse" data-target="#collapse-search-body" aria-expanded="false" aria-controls="collapse-search-body"><i class="fas fa-search"></i></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- Mobile Menu  -->
                    <div class="mobile-menu">
                        <div class="menu-backdrop"></div>
                        <div class="close-btn"><i class="fas fa-times clo"></i></div>

                        <nav class="menu-box">
                            <div class="nav-logo"><a href="index.html"><img src="{% static 'img/logo/logo.png' %}" alt="" title=""></a>
                            </div>
                            <div class="menu-outer">
                                <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                            </div>
                            <div class="social-links">
                                <ul class="clearfix">
                                    <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                                    <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- End Mobile Menu -->
                </div>
            </div>
        </div>
        <div id="collapse-search-body" class="collapse-search-body collapse">
            <div class="search-body">
                <div class="container custom-container">
                    <form action="#">
                        <div class="form-item">
                            <input name="search" placeholder="Type here...">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}


{% block content %}
<main>


<!-- banner-area -->
<section class="banner-area home-three-banner" data-background="{% static 'img/slider/banner_bg02.jpg' %}">
    <div class="container custom-container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9">
                <div class="slider-content text-center">
                    <div class="banner-icon mb-25 wow fadeInUp" data-wow-delay=".3s"><img src="{% static 'img/slider/slider_content_icon.png' %}" alt=""></div>
                    <div class="fact-area-title wow fadeInUp" data-wow-delay=".6s">Les vrais bolides <span class="left"></span><span class="right"></span></div>
                    <h2 class="wow fadeInUp" data-wow-delay=".9s">Trouvez la voiture parfaite</h2>
                    <p class="wow fadeInUp" data-wow-delay="1.2s">Achats, Ventes, Locations</p>
                    <a href="#" class="btn wow fadeInUp" data-wow-delay="1.5s">Recherchez</a>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-car-search-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" class="car-search-form">
                        <div class="row align-items-end justify-content-center">
                            <div class="col custom-col-6">
                                <select name="name" class="selected">
                                    <option value="">Choisir une marque</option>
                                    {% for marque in marque %}
                                    <option value="{{ marque }}">{{ marque }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col custom-col-6">
                                <select name="name" class="selected">
                                    <option value="">Choisir un modèle</option>
                                    {% for modele in modele %}
                                    <option value="{{ modele }}">{{ modele }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col custom-col-6 etat">
                                <select name="name" class="selected">
                                    <option value="">Choisir l'état</option>
                                    {% for etat in etat %}
                                    <option value="{{ etat }}">{{ etat }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col custom-col-6">
                                <button class="btn">Recherche</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-area-end -->







    <!-- latest-cars-area -->
    <section class="latest-cars-area pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6">
                    <div class="section-title text-center mb-35">
                        <h2 class="overlay-title">Lesvraibolide</h2>
                        <h2 class="title">Véhicule recents</h2>
                    </div>
                    
                </div>
            </div>
            <div class="latest-cars-wrapper">
                <div class="row latest-car-items-active">

                    {% for voiture in voiture %}
                    <div class="col-lg-4 col-md-6 grid-item grid-sizer cat-two">
                        <div class="latest-car-item mb-60">
                            <div class="latest-car-thumb mb-25">
                                <a href="inventory-details.html">
                                    <img class="photo" src="{{voiture.photo.url}}" alt="">
                                </a>
                            </div>
                            <div class="latest-car-content">
                                <div class="latest-car-content-top">
                                    <h5><a href="inventory-details.html">{{ voiture.marque }} {{ voiture.modele }}</a></h5>
                                    <span class="price">{{ voiture.prix }} </span>
                                </div>
                                <p>Annee : <span>{{ voiture.annee }}</span></p>
                                <div class="latest-car-meta">
                                    <ul>
                                        <li><i class="flaticon-settings"></i> {{ voiture.transmission }}</li>
                                        <li><i class="flaticon-gasoline-pump"></i> {{ voiture.carburant }}</li>
                                        <li><i class="flaticon-motorway"></i> {{ voiture.kilometrage }} km</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="latest-car-btn text-center mt-10">
                            <a href="#" class="btn">VOIR +</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- latest-cars-area-end -->



</main>
{% endblock content %}


